

  .Title1 {
 color: purple;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    width: 195px;
  }

  .Title1:hover{
    opacity: 0.1;
    color: red;
  }

  body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: rgb(179, 20, 20);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbar li{
    float: left;
}